* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(222, 26%, 31%);
}

.calculator__desc-wrapper {
    margin-bottom: 15px;
}

.calculator__logo {
    font-weight: 700;
    font-size: 26px;
    color: #fff;
}

.calculator__content {
    width: 500px;
    height: 130px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: hsl(224, 36%, 15%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.calculator__input {
    font-weight: 700;
    font-size: 26px;
    color: #fff;
}

.calculator__output {
    margin-top: 10px;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

.calculator__input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    font-size: 36px !important;
    color: #fff;
}

.calculator__btn-wrapper {
    width: 500px;
    padding: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
}

.calculator-lines {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator-lines + .calculator-lines {
    margin-top: 20px;
}

.calculator__btn {
    width: 100px;
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 5px hsl(28, 16%, 65%);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: hsl(224, 28%, 35%);
    cursor: pointer;
    transition: all 250ms linear;
}

.calculator__btn:hover {
    color: hsl(30, 25%, 89%);
    background-color: hsl(224, 28%, 35%);
    box-shadow: 0 5px hsl(225, 21%, 49%);
}

.calculator__btn:active {
    transform: translateY(5px);
    box-shadow: 0 4px hsl(225, 21%, 49%);
}

.del-btn {
    padding: 12px 0;
    font-size: 26px;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 5px hsl(224, 28%, 35%);
    color: #fff;
}

.reser-btn {
    width: 220px;
    font-size: 26px;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 5px hsl(224, 28%, 35%);
    color: #fff;
}

.equal-btn {
    width: 220px;
    font-size: 26px;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 5px hsl(6, 70%, 34%);
    color: #fff;
}

.equal-btn:hover {
    background-color: hsl(6, 70%, 34%);
    box-shadow: 0 5px hsl(6, 63%, 50%);
}



@media screen and (min-width: 360px) and (max-width: 480px) {
    .calculator__input {
        width: 360px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 26px;
    }

    .calculator__btn-wrapper {
        width: 360px;
        padding: 10px;
    }

    .calculator__btn {
        width: 75px;
        padding: 5px 0;
        font-size: 26px;
    }

    .reser-btn {
        width: 160px;
        font-size: 26px;
        background-color: hsl(225, 21%, 49%);
        box-shadow: 0 5px hsl(224, 28%, 35%);
        color: #fff;
    }

    .equal-btn {
        width: 160px;
        font-size: 26px;
        background-color: hsl(6, 63%, 50%);
        box-shadow: 0 5px hsl(6, 70%, 34%);
        color: #fff;
    }
}
